html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

html {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, span {
  font-family: Helvetica, sans-serif;
  color: #373A40;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-weight: 500; }

h1 {
  font-size: 16rem; }

h2 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.4rem; }

.weather-stat-quarter {
  color: #373A40; }

span {
  font-size: 6rem; }

body {
  background-color: #ffffff; }

.container {
  background-color: #fffefb;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  padding: 25px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  max-width: 550px;
  text-align: center;
  border-left: 1px solid #373A40;
  border-right: 1px solid #373A40; }

.weather-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80px; }
  .weather-stats div {
    -ms-flex-item-align: end;
        align-self: end; }
    .weather-stats div p {
      display: inline; }

.degrees {
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.days {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-self: end; }

.day {
  height: 90px;
  border-right: 1px solid #373A40;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.day:last-child {
  border: none; }
