
.toggle {
    width: 5rem;
      margin: 1.5rem auto;
      position: relative;
  }
  .toggle input {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
      width: 100%;
      height: 28px;
  }
  .toggle input ~ .btn {
      -webkit-transition: all .3s ease;
  }
  .toggle input:checked ~ .btn {
      left: 50%;
      -webkit-transition: all .3s ease;
  }
  .toggle .btn {
      border-radius: 2px;
      display: block;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      width: 50%;
      height: 27px;
      background: $white;
      border: 1px solid rgba(0,0,0,.2);
      box-shadow: inset 0 1px 0 0 rgba(255,255,255,1);
  }
  .toggle .labels {
      position: absolute;
      top: .7em;
      left: 0;
      z-index: 2;
      width: 100%;
      font-size: .8em;
      font-weight: bold;
  }
  .toggle .labels:before {
      content: "\2103";
      position: absolute;
      left: 14%;
  }
  .toggle .labels:after {
      content: "\2109";
      position: absolute;
      right: 14%;
  }
  .toggle .bg {
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 1.7em;
      border-radius: 2px;
      border: 1px solid rgba(0,0,0,.2);
      background: #ddd;
      box-shadow: 0 1px 0 0 rgba(255,255,255,1);
  }