@import "normalise";
@import "typography";
@import "toggle";

body {background-color: #ffffff}


.container {
    background-color: $white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    padding: 25px 5px;
    box-sizing: border-box;
    height: 100vh;
    max-width: 550px;
    text-align: center;
    box-shadow: 0 0 8px 0px #aaa;
}

.weather-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 80px;
    div {
        align-self: end;
        p {display: inline}
    }
}

.buttons {
    display: grid;
    margin: 25px auto;
    grid-template-columns: repeat(2, 1fr);
    width: 84px;
    border: 1px solid $black;
    border-radius: 4px;
    overflow: hidden;
    background-color: $white;
}

.button {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    p {
        font-weight: 600;
    }
}

.button:first-child {
    background-color: #ccc;
    p {color: #888;
        }
}


.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 1.5rem;
}

.days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: end;
}

.day {
    height: 90px;
    border-right: 1px solid $black;
    display: grid;
    justify-items: center;
    align-items: center;
}

.day:last-child {border: none}