html {font-size: 16px}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: Helvetica, sans-serif;
    color: #373A40;
    font-weight: 600;
    margin: 0;
}

p {font-size: 1.2rem}

h1 {font-size: 16rem}

h2 {font-size: 2rem}

h4 {font-size: 1.4rem}


body {margin: 0}

img {filter: grayscale(100%)}

.container {
    margin: 0 auto;
    padding: 25px 5px;
    box-sizing: border-box;
    height: 100vh;
    max-width: 550px;
    text-align: center;
    box-shadow: 0 0 8px 0px #aaa;
    display: grid;
    grid-template-rows: 20% 50% 30%;
}

.icon-main {height: 80px}

.days {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: end;
}

.days .day {
    height: 90px;
    border-right: 1px solid #373A40;;
    display: grid;
    justify-items: center;
}

.days .day:last-child {border: none}
